.messages-card {
  .card-header {

  }

  .card-body {
    .notifications {
      margin: -20px;
      padding: 30px 20px;
      border-bottom: 1px solid var(--blue-100);
      background-color: var(--light-blue);
    }

    ul {
      margin: 20px 20px 20px 20px;

      li {
        padding: 25px 0;
        border-bottom: 1px solid var(--gray-200);

        header {
          margin-bottom: 5px;

          .name {
            font-weight: bold;
          }

          .time-ago {
            font-size: 12px;
          }
        }

        footer {
          margin-top: 5px;
          font-size: 13px;
          color: var(--gray-600)
        }
      }
    }
  }
}
