.progress {
  &.progress-outer {
    height: 5px;
    border-radius: 2.5px;
    overflow: hidden;
    background-color: var(--gray-200);
    margin: 10px 0;

    .progress-inner {
      height: 100%;
    }
  }
}
