.card {
  background-color: var(--white);
  border-top: 3px solid var(--gray-200);
  width: 100%;

  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px;
    border-bottom: 1px solid var(--gray-200);
    font-size: 12px;
    font-weight: 500;

    .action-buttons {
      .anticon {
        margin: 0 5px;
        cursor: pointer;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .card-body {
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: padding 0.2s ease 0.1s, max-height 0.1s ease;

    &.is-open {
      padding: 20px;
      max-height: 100000px;
      transition: padding 0.2s ease 0s, max-height 0.1s ease;
    }
  }
}

